<% content_for :title, "Comments" %>
<%= render 'welcome/header' %>
	<section>
		<p id="notice"><%= notice %></p>
		<% if @comments.count == 0 %>
			<article>
				No comments
			</article>
		<% else %>
			<% @comments.each_with_index do |comment, index| %>
			<article>
				<div class="gray"><%= comment.article.account.username %> <%= showTime(comment.created_at) %> ago | on: <%= comment.article.content %></div>
				<div class="by"><%= comment.content %></div>
			</article>
			<% end %>
		<% end %>
		
	</section>
<%= render 'welcome/footer' %>