<% content_for :title, "Home page "+@curPage.to_s %>
<%= render 'welcome/header' %>
	<section>
		<p id="notice" class="center"><%= notice %></p>
		<% @articles.each_with_index do |article, index| %>
			<article>
				<%= index+@curOffset+1 %>. <a href="/item?id=<%= article.id %>" class="source"><%= article.content %></a> <% if article.source.length > 0 %>(<a href="<%= getSourceLink(article.source) %>" class="source"><%= showSource(article.source) %></a>)<% end %>
				<div class="by gray">by <%= article.account.username %> <%= showTime(article.created_at) %> ago | <a href="/comments/index" class="comment"><%= article.comments.count %> comments</a></div>
			</article>
		<% end %>
		
		<% if @morePage %>
		<div class="more">
			<a href="/news?p=<%= (@curOffset + 1).to_s %>" class="source">more</a>
		</div>
		<% end %>
		
	</section>
<%= render 'welcome/footer' %>