<% content_for :title, "News Submittion" %>
<%= render 'welcome/header' %>
	<section>
		<p id="notice"><%= notice %></p>
		<div class="formStyle">
			<%= form_with model: [@account, @account.articles.build], local: true do |form| %>
				<%= form.text_area :content, class: 'txtAreaStyle', placeholder: '(required)', :required => true %>
				<br>
				<div class="txtFieldGap">
					News source (optional) <%= form.text_field :source, class: 'txtFieldStyle' %>
				</div>
				<%= form.submit 'submit', class: 'addSubmittion' %>
			<% end %>
		</div>
		
		
		
	</section>
<%= render 'welcome/footer' %>