<% content_for :title, @article.content %>
<%= render 'welcome/header' %>
	<section>
	
		<p id="notice"><%= notice %></p>
	
		<% if @article.errors.any? %>
			<div id="error">
					<% @article.errors.full_messages.each_with_index do |msg, index| %>
						<% if index > 0 %>
							<%= ', ' %>
						<% end %>
						<%= msg %>
					<% end %>
			</div>
		<% end %>
	
		<article>
			<%= @article.content %> <% if @article.source.length > 0 %>(<a href="<%= getSourceLink(@article.source) %>" class="source"><%= showSource(@article.source) %></a>)<% end %>
			<div class="by gray">by <%= @article.account.username %> <%= showTime(@article.created_at) %> ago | <%= @article.comments.count %> comments</div>
		</article>
		
		<% if logged_in? %>
			<div class="formStyle">
				<%= form_with model: [Account.find(session[:account_id]).articles.find(@article.id), Account.find(session[:account_id]).articles.find(@article.id).comments.build], local: true do |form| %>
					<%= form.text_area :content, class: 'txtAreaStyle' %>
					<br>
					<%= form.submit 'add comment', class: 'addComment' %>
				<% end %>
			</div>
			<% end %>
		
		<% if @article.comments.count == 0 %>
			<article>
				No comments
			</article>
		<% else %>
			<% @article.comments.each_with_index do |comment, index| %>
			<article>
				<div class="gray"><%= comment.article.account.username %> <%= showTime(comment.created_at) %> ago</div>
				<div class="by"><%= comment.content %></div>
			</article>
			<% end %>
		<% end %>
		
	</section>
<%= render 'welcome/footer' %>