<% content_for :title, "Login" %>
<%= render 'welcome/header' %>
	<section>
		<!-- Login -->
		<p id="notice" class="center"><%= notice %></p>
		<div class="formStyle">
			<%= form_with scope: :session, url: sessions_path, local: true, class: 'center' do |form| %>
				<table width="200" border="0">
					<tr>
						<td align="center" colspan="2">
							<h2>Login</h2>
						</td>
					</tr>
					<tr>
						<td width="50%">
							<%= form.label :username %>:
						</td>
						<td>
							<%= form.text_field :username, class: 'txtFieldLoginStyle' %>
						</td>
					</tr>
					<tr>
						<td>
							<%= form.label :password %>:
						</td>
						<td>
							<%= form.password_field :password, class: 'txtFieldLoginStyle' %>
						</td>
					</tr>
					<tr>
						<td align="center" colspan="2">
							<%= form.submit 'login', class: 'addSubmittion' %>
						</td>
					</tr>
				</table>
			<% end %>
		</div>
		<!-- Login - close -->
		
		<!-- Create Account -->
		<div class="formStyle">
			<%= form_with scope: :account, url: accounts_path, local: true, class: 'center' do |form| %>
				<table width="200" border="0">
					<tr>
						<td align="center" colspan="2">
							<h2>Create Account</h2>
						</td>
					</tr>
					<tr>
						<td width="50%">
							<%= form.label :username %>:
						</td>
						<td>
							 <%= form.text_field :username, class: 'txtFieldLoginStyle' %>
						</td>
					</tr>
					<tr>
						<td>
							<%= form.label :password %>:
						</td>
						<td>
							<%= form.password_field :password, class: 'txtFieldLoginStyle' %>
						</td>
					</tr>
					<tr>
						<td align="center" colspan="2">
							<%= form.submit 'create', class: 'addSubmittion' %>
						</td>
					</tr>
				</table>
			<% end %>
		</div>
		<!-- Create Account - close -->
		
	</section>
<%= render 'welcome/footer' %>